<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Видалення поста</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>


{% block content %}
<h2>Видалити пост "{{ object.title }}"?</h2>
<p>Ви впевнені, що хочете видалити цей пост?</p>

<form method="post">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Видалити</button>
    <a href="{% url 'blog_app:posts' %}" class="btn btn-secondary">Скасувати</a>
</form>
{% endblock %}
</body>
</html>
